

#pong {
  display: block;
}

#logo-text {
  display: none;
}

#scroll-down {
  opacity: 0;
  animation: blink-animation 1s steps(5, start) infinite;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  max-width: 331px;
  height: auto;
}